body{position: relative;}
._h3{
    font-size: 18px;
    font-weight: 300;
}
.active_option{
    background-color: #c0c0c0;
}
/*
    Secondary nav
*/
.editor_secondary_nav{ padding: 15px 50px 12px 50px; }
.editor_secondary_nav label{ padding: 0px 7px; }
#document_name div{ 
    font-size: 18px; 
    color: #351F39; 
    cursor: pointer;
    font-weight: 600;
    /*margin-top:2px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.doc-tag{ 
    font-weight: 200; 
    font-size: 10px; 
    color: #333;
    padding:2px 3px;
    margin-left: 20px;
    text-decoration: none;
    border: 1px solid #A0C1B8;
    cursor:help;
}
.space_n_parent{padding-top: 5px; }

/* Summernote overrride */
.note-editor, .note-frame{border: none !important;  box-shadow: none !important;}
.note-statusbar{display: none !important;}
.panel-heading{background-color: #fff !important; border: none !important;}
.modal-hint{ margin: 10px auto;}
/* Access control modal */
li.editor_restrictions{
    padding: 10px 15px;
    margin:5px 0px;
    background-color: #f1f1f1;
}
li.editor_restrictions div{ font-size: 11px;}
.active_access_cont{
    margin: 30px auto;
    text-align: center;
}

/* Set Location modal */
.body_location{padding:0px 30px;}

.search_docBox a{position: relative; outline: none;}
.search_docBox a:focus{outline: none;}
.search_docBox a input{
    color: #351F39;
    padding: 4px 25px 4px 10px;
    width:400px;
    border: 1px solid #C0C0C0;
}
.search_docBox a i{
    position: absolute; 
    right: 10px; top: 1px;
}

.search_results{ padding: 15px; }

/* static content */
.staticBotMenu{
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: #F4E8C1;
    transform: translate(-50%, -50%);
    color: #351F39;
    padding: 10px 20px;
    border-radius: 3px;
}
.staticBotMenu span{
    padding: 5px; 
    margin: 0px 3px;
    
    cursor: pointer;
}
.dockety{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}