
/* ===== Color palette / theme ================
	http://colorpalettes.net/color-palette-3068/
	-----------------------
	Index
	-----------------------
	Dark 		: #351F39 [malbec];
	Semi-dark 	: #726A94 [jacaranda];
	Medium		: #709FB0 [bolivia];
	Semi-light	: #A0C1B8 [azul verde];
	Light 		: #F4E8C1 [ivory];
	-----------------------
*/

body {
  font-family: Sans-Serif;
}
a._a{  text-decoration: none; }
a._a:hover{  text-decoration: none; }
a._a:active{ outline: none; }
a._a:focus{ outline: 0 !important;  }
/* Bootstrap override */
.btn{
	border-radius: 1px;
}
.modal-content{
    border-radius: 0px;
}
.form-control{
	border-radius: 0px;
}
.divider{
    margin: 50px auto;
    border-bottom: 1px dashed #c0c0c0;
}
.hide-this{display: none;}
/*--- 
			Submit buttons
-----*/
._btn-default {
  border-radius: 1px;
  background-color: #F4E8C1;
  border: none;
  color: #351F39;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

._btn-default span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

._btn-default span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

._btn-default:hover span {
  padding-right: 15px;
  /*color: #fff;*/
}

._btn-default:hover span:after {
  opacity: 1;
  right: 0;
  /*color: #fff;*/
}