/*    
    TOP MENU   

    Common in
    1. Dashboard
    2. Editors 
*/
#mainNav {
    background-color: #f9f9f9 ;
    padding: 10px 20px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    border-bottom: none;
}
.top-level-menu-right ul{
    margin-bottom: 0px !important;
    list-style-type: none;
}
.top-level-menu-right ul a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.top-level-menu-right ul li{
    display: inline-block;
    margin-right: 15px;
}
.top-level-menu-right ul li input{
    background-color: #c0c0c0;
    border:none;
    outline: none;
    font-size: 12px;
    font-weight: 200;
    padding: 4px 30px 4px 10px;
    border-radius: 3px;
    width: 240px;
}
.search-btn{
    position: absolute;
    top: 2px;
    right: 10px;
    color: #fff;
    text-decoration: none;
}
/*    SPLITTER   */
.panel-container {
    display: flex;
    flex-direction: row;
    /*border: 1px solid silver;*/
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    padding: 5px 10px 10px 10px;
    width: 300px;
    min-width: 300px;
    max-width: 500px;
    white-space: nowrap;
    height: 92vh;
    background-color: #f1f1f1;
    position: relative;    
}
.left-nav-content{
    height: 100%;
}
.left-nav-spaces-container{
    overflow: scroll;
}
.splitter {
    flex: 0 0 auto;
    width: 15px;  
    min-height: 200px;
    cursor: col-resize;  
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 5px 10px 10px 10px;
    /*width: 50%;*/
    height: 92vh;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.header-section{
    padding:10px 50px 15px 0px;
}
#content-payload{
    margin-bottom: 50px;
}

/* BUSY OVERLAY */
#content-busy{
    background: rgba(254,250,250, 1);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 200px;
    display: none;
}

/* FOOTER*/
.footer{
    color: #c0c0c0;
    padding: 50px;
}

/*/////////////////////////

        DASHBOARD
    
///////////////////////////*/

ul#dashboard-recentDocs, ul#dashboard-recentDocs ul {
    list-style:none;
    margin:0;
    padding:0;
}
ul#dashboard-recentDocs ul {
    margin-left:10px; /* indentation */
    position:relative;
}
ul#dashboard-recentDocs ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}
ul#dashboard-recentDocs li {
    margin:0;
    padding:0 12px; /* indentation + 2 */
    line-height:20px; /* default list item `line-height` */
    position:relative;
}
ul#dashboard-recentDocs ul li:before {
    content:"";
    display:block;
    width:10px; /* same with indentation */
    height:0;
    border-top:1px solid;
    position:absolute;
    top:10px;
    left:0;
}
ul#dashboard-recentDocs ul li:last-child:before {
    background:white; /* same with body background */
    height:auto;
    top:10px; /* (line-height/2) */
    bottom:0;
}
.recent-doc{
    background-color: #F4E8C1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;         
}
._dashboardNumbers{
    padding: 20px;
    border: 2px solid silver;
    border-radius: 3px;
    margin: 5px 3px;
}
/*/////////////////////////

        SINGLE PAGE
    
///////////////////////////*/

/*BREADCRUMB*/
#breadcrumb ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    list-style: none;
}

#breadcrumb li {
    float: left;
    margin: 0 9px;
}

#breadcrumb a {
    background: #ddd;
    padding: .1em .3em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
}

#breadcrumb li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#breadcrumb li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#breadcrumb a:hover {
    background: #99db76;
}

#breadcrumb li:not(:first-child) > a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;   
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

#breadcrumb li:not(:first-child) > a:hover::before {
    border-color: #99db76 #99db76 #99db76 transparent;
}

#breadcrumb li:not(:last-child) > a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumb li:not(:last-child) > a:hover::after {
    border-left-color: #99db76;
}

/*    DOCUMENT VIEW   */

.doc-metasection{
    margin-bottom: 40px;
}
.doc-meta{
    margin-right: 50px;
}

.comment-group{
    background-color: #f1f1f1;
    padding:10px 15px;
    margin-bottom: 15px;
}
.comment-group p {
    margin-top: 15px;
}

.content{
    width:100%;
    overflow-y: scroll;
    height: 78vh;
    padding-top: 20px;
}

.ul-head{
    margin:10px 0px 10px 10px;
    color: #c0c0c0;
}
.general-ul{
    list-style-type: none;
    font-size: 17px;
}
.general-ul li{
    margin-top: 7px;
}
.general-ul li a{
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

/*/////////////////////////

        PEOPLE PAGE
    
///////////////////////////*/
ul.people_each {
    list-style: none;
    text-align: center;
}
ul.people_each li{
    display: inline-block;
}
.people-js-search{margin-left: 50px;}
.people-js-search input{
    font-style: italic;
    border: 1px solid #A0C1B8;
    padding: 4px 7px;
}

/*/////////////////////////

        MEMBER PROFILE PAGE
    
///////////////////////////*/
td.profile_details{width: 150px;}